<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo_ficha.css')}}" media="screen" />
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
    </style>
    <title>Ficha</title>

</head>
<body>
       <div class="identidade">
            <p>Nome: {{ nome }}  |  Raça: {{ raca }}  |  Genero: {{ genero }}</p>
            <p>Idade: {{ idade }}  |  Altura: {{ altura }}  |  Peso: {{ peso }}</p>
            <p>Classe: {{ classe }}</p>
        </div>

        <div class="atributos">
            <p>Atributos:</p>
            {% for atributo in personagem.atributos.splitlines() %}
                <p>{{ atributo }} <button type="button" class="botao">+</button> <button type="button" class="botao">-</button></p>
            {% endfor %}
        </div>
</body>
</html>